/A1/PracticaPuntuable/nbproject/private/
/A1/PracticaPuntuable/build/
/A1/PracticaPuntuable/dist/
/A1/Bucles/TeoriaBucles/nbproject/private/
/A1/Bucles/TeoriaBucles/build/
/A1/Bucles/TeoriaBucles/dist/
/A1/Bucles/TeoriaAleatorios/nbproject/private/
/A1/Bucles/TeoriaAleatorios/build/
/A1/Bucles/TeoriaAleatorios/dist/
/A1/Bucles/ExamenEx2/nbproject/private/
/A1/Bucles/ExamenEx2/build/
/A1/Bucles/ExamenEx2/dist/
/A2/TeoriaA2/nbproject/private/
/A2/TeoriaA2/build/
/A2/TeoriaA2/dist/
/A2/PiedraPapelTijeras/nbproject/private/
/A2/PiedraPapelTijeras/build/
/A2/Ruleta/nbproject/private/
/A2/Ruleta/dist/
/A2/Ruleta/build/
