/A1/PracticaPuntuable/nbproject/private/
/A1/PracticaPuntuable/build/
/A1/PracticaPuntuable/dist/
/A1/Bucles/TeoriaBucles/nbproject/private/
/A1/Bucles/TeoriaBucles/build/
/A1/Bucles/TeoriaBucles/dist/
/A1/Bucles/TeoriaAleatorios/nbproject/private/
/A1/Bucles/TeoriaAleatorios/build/
/A1/Bucles/TeoriaAleatorios/dist/
/A1/Bucles/ExamenEx2/nbproject/private/
/A1/Bucles/ExamenEx2/build/
/A1/Bucles/ExamenEx2/dist/
/A2/TeoriaA2/nbproject/private/
/A2/TeoriaA2/build/
/A2/TeoriaA2/dist/
/A2/PiedraPapelTijeras/nbproject/private/
/A2/PiedraPapelTijeras/build/
/A2/Ruleta/nbproject/private/
/A2/Ruleta/dist/
/A2/Ruleta/build/
/A2/SieteYmedio/nbproject/private/
/A2/SieteYmedio/build/
/A2/SieteYmedio/dist/
/A2/Llibreries/nbproject/private/
/A2/Llibreries/build/
/A2/ExamenA2/nbproject/private/
/A2/ExamenA2/build/
/A3-Poo-Objectes/TeoriaPOO/nbproject/private/
/A3-Poo-Objectes/TeoriaPOO/build/
/A3-Poo-Objectes/TeoriaPOO/dist/
/A3-Poo-Objectes/PruebasPunto/nbproject/private/
/A3-Poo-Objectes/PruebasPunto/build/
/A3-Poo-Objectes/PruebasPuntoRectangulo/nbproject/private/
/A3-Poo-Objectes/PruebasPuntoRectangulo/build/
/A3-Poo-Objectes/PruebasPuntoRectangulo/dist/
/A3-Poo-Objectes/SubwaySurfers/nbproject/private/
/A3-Poo-Objectes/SubwaySurfers/build/
/A3-Poo-Objectes/SubwaySurfers/dist/
/A3-Poo-Objectes/A3-SegonaPart/TeoriaPooHerencia/nbproject/private/
/A3-Poo-Objectes/A3-SegonaPart/TeoriaPooHerencia/build/
/A3-Poo-Objectes/A3-SegonaPart/TeoriaPooHerencia/dist/
/A3-Poo-Objectes/A3-SegonaPart/Cursa/nbproject/private/
/A3-Poo-Objectes/A3_Practica_Cursa/nbproject/private/
/A3-Poo-Objectes/A3-SegonaPart/EquipoFutbol/nbproject/private/
/A3-Poo-Objectes/A3-SegonaPart/EquipoFutbol/build/
/A3-Poo-Objectes/A3-SegonaPart/EquipoFutbol/dist/
/A3-Poo-Objectes/A3-SegonaPart/ExamenPokemonAny2025/build/
/A3-Poo-Objectes/A3-SegonaPart/ExamenPokemonAny2025/dist/
/A3-Poo-Objectes/A3-SegonaPart/ExamenPokemonAny2025/nbproject/private/
